# macOS
.DS_Store

# Dart & Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins-dependencies
.flutter-plugins
flutter_export_environment.sh

# Logs
*.log

# Android
android/.gradle/
android/.idea/
android/local.properties
android/captures/
android/.externalNativeBuild
android/.cxx/
*.apk
*.aar
*.aab
*.ap_
*.dex
*.class
bin/
gen/
out/
.gradle/
navigation/
proguard/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/App.framework
ios/Flutter/ephemeral/
Runner.xcodeproj/project.xcworkspace/
Runner.xcworkspace/

# IntelliJ / Android Studio
.idea/
*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/assetWizardSettings.xml
.idea/dictionaries
.idea/libraries
.idea/modules.xml
.idea/caches
.idea/navEditor.xml

# VSCode
.vscode/

# Keystore files
#*.jks
#*.keystore

# Plugin example apps
example/android/.gradle/
example/android/local.properties
example/build/
example/ios/Pods/
example/ios/Flutter/
example/.dart_tool/
example/.idea/
example/.vscode/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

# Version control
vcs.xml

# Lint
lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

# Ignore .idea in root and android subfolder
.idea/
android/.idea/
